<a href="https://colab.research.google.com/github/raan006/prueba/blob/main/(Soluci%C3%B3n_Ejercicios)_Fundamentos_de_Python_Bloque_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Fundamentos de Python**
### **Bloque 4 -** *Librer√≠as Pandas y Sklearn.*

---
*Consejos de uso de Google Colab:*

*   Puedes consultar la documentaci√≥n sobre una funci√≥n escribiendo **?** justo despu√©s de una funci√≥n: *Ejemplo: np.maximum?*
*   Puedes ejecutar el contenido de una celda con el atajo de teclado **CTRL+ENTER**
*   Utiliza **TAB** cada vez que quieras autocompletar una llamada a una funci√≥n.
*   Puedes ejecutar instrucciones de bash directamente desde el notebook usando **!** : *Ejemplo: !pip install tensorflow*

Teneis disponible en el campus virtual un archivo llamado `easy_telco.csv` que podr√©is cargar a esta m√°quina virtual en Google Colab clickando en el icono de la carpeta en el men√∫ lateral de la izquierda. Ah√≠ pod√©is clickar en el bot√≥n "‚Üë Subir" y esto te permitir√° cargar un archivo desde tu ordenador a la m√°quina virtual de Google Colab. Podr√°s ver los archivos que cargues en este men√∫ lateral. **¬°Ojo! cada vez que te conectas a Google Colab, se te asigna una m√°quina virtual diferente, y por tanto tendr√°s que volver a cargar estos archivos de nuevo.**

---

<img width="400px" style="border-style: solid;" src="https://i.imgur.com/DuNMNYL.png"></img>

---


---


üëÅ‚Äçüó® - Para la resoluci√≥n de los diferentes ejercicios, es recomendable tener a mano las documentaciones de las distintas librer√≠as para poder consultar funciones que te podr√≠an hacer falta.

- Documentaci√≥n de Python: https://docs.python.org/3/
- Documentaci√≥n de Numpy: https://numpy.org/
- Documentaci√≥n de Scipy: https://www.scipy.org/
- Documentaci√≥n de Matplotlib: https://matplotlib.org/
- Documentaci√≥n de Sklearn: https://scikit-learn.org/stable/


---

##üêº Librer√≠a Pandas.

Como recordar√°s, Numpy nos ha permitido cargar nuestros datos tabulares como valores almacenados en matrices, pero en ocasiones, antes de este paso necesitamos procesar nuestras tablas, para modificar valores, eliminar columnas, detectar valores NaN, etc. Para ello, contamos con pandas, una librer√≠a que nos dar√° m√∫ltiples funcionalidades para cargar, procesar y exportar nuestras tablas de datos.

In [ ]:
import pandas as pd

In [ ]:
# Creamos un dataframe a partir de un archivo.
iris = pd.read_csv('iris.csv')

# Mostramos la tabla con un formato agradable.
display(iris)

     sepal.length  sepal.width  petal.length  petal.width  variety
0             5.1          3.5           1.4          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

In [ ]:
# Visualicemos las 10 primeras filas de la table.
display(iris.head(5))

   sepal.length  sepal.width  petal.length  petal.width  variety
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [ ]:
# Como contamos con cabecera en las columnas, podemos usarlo para seleccionarlas.
sepal_length = iris['sepal.length']
# Y usar los diferentes m√©todos de Pandas para extraer informaci√≥n.
print(sepal_length.mean())
print(sepal_length.std())
print(sepal_length.min())
print(sepal_length.max())

5.843333333333335
0.8280661279778629
4.3
7.9

In [ ]:
# Podemos sacar una descripci√≥n de nuestra tabla.
iris.describe()

       sepal.length  sepal.width  petal.length  petal.width     variety
count    150.000000   150.000000    150.000000   150.000000  150.000000
mean       5.843333     3.057333      3.758000     1.199333    1.000000
std        0.828066     0.435866      1.765298     0.762238    0.819232
min        4.300000     2.000000      1.000000     0.100000    0.000000
25%        5.100000     2.800000      1.600000     0.300000    0.000000
50%        5.800000     3.000000      4.350000     1.300000    1.000000
75%        6.400000     3.300000      5.100000     1.800000    2.000000
max        7.900000     4.400000      6.900000     2.500000    2.000000

In [ ]:
# Podemos seleccionar filas y columnas por √≠ndice, como hac√≠amos en Numpy.
iris.iloc[0:2, 2:4]

   petal.length  petal.width
0           1.4          0.2
1           1.4          0.2

In [ ]:
# Eliminemos columnas.
newIris = iris.drop(columns="variety")

In [ ]:
# Guardemos nuestra nueva tabla nuevamente en un archivo .csv
newIris.to_csv('newIris.csv')

# O convirt√°mosla a una matriz de Numpy.
numpyIris = newIris.values

print(numpyIris)

**Ejercicio 1.** Utiliza Pandas para construir una tabla de Iris que s√≥lo contenga aquellas flores que tengan alg√∫n atributo por encima de la media. Comienza eliminando la columna 'variety'.

In [ ]:
newIris = iris.drop(columns='variety')

# Eliminamos los valores que son menores que la media. Estas celdas quedar√°n como NaN.
newIris = newIris[newIris >= newIris.mean()]
display(newIris)
# Elimino aquellas filas que contengan todos los valores a NaN.
newIris = newIris.dropna(how='all')
# Uso los √≠ndices de la tabla filtrada para filtrar las filas de la tabla original.
iris.iloc[newIris.index.values,:]

     sepal.length  sepal.width  petal.length  petal.width
0             NaN          3.5           NaN          NaN
1             NaN          NaN           NaN          NaN
2             NaN          3.2           NaN          NaN
3             NaN          3.1           NaN          NaN
4             NaN          3.6           NaN          NaN
..            ...          ...           ...          ...
145           6.7          NaN           5.2          2.3
146           6.3          NaN           5.0          1.9
147           6.5          NaN           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          NaN           5.1          1.8

[150 rows x 4 columns]

     sepal.length  sepal.width  petal.length  petal.width  variety
0             5.1          3.5           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
5             5.4          3.9           1.7          0.4        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[136 rows x 5 columns]

## üß† Librer√≠a Sklearn.

Finalmente contamos con la librer√≠a SKlearn, que nos va a facilitar un conjunto de modelos de Machine Learning listos para usar. La ventaja de esta librer√≠a, adem√°s de contar con un amplio n√∫mero de modelos, es que la mayor√≠a conservan la misma interfaz de uso, requiriendo modificar pocas l√≠neas para cambiar entre modelos.

---

In [ ]:
# -- Un esquema cl√°sico de uso ser√≠a el siguiente -- #

import sklearn as sk
from sklearn.linear_model import LogisticRegression

iris = pd.read_csv('iris.csv').values

X = iris[:,0:4]
Y = iris[:,4:5]

# 1¬∫. Se instancia el modelo Support Vector Machine.
clf = LogisticRegression()

# 2¬∫. Se ajusta (entrenas) al modelo con los datos.
clf.fit(X, Y)

# 3¬∫. Con el modelo ajustado, puedes hacer predicciones.
yp = clf.predict(X)
print(yp, '\n')

# 4¬∫ Con el modelo ajustado, puedes evaluar su rendimiento.
ev = clf.score(X, Y)
print(ev, '\n')

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 2. 1.
 1. 1. 1. 1. 1. 2. 1. 1. 1. 1. 1. 2. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 2. 2. 2. 2. 2. 2. 1. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2.
 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2.
 2. 2. 2. 2. 2. 2.]

0.9733333333333334

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

# **Pr√°ctica Evaluable 4.**  Predicci√≥n de Salida de Clientes.

Con todas las herramientas ya en nuestro haber, debemos de ser capaces de atacar a una tabla de datos con fines predictivos. En este caso, trabajaremos con datos de clientes de una compa√±√≠a de telecomunicaci√≥n, de los cu√°les tenemos algunos atributos, y una columna ('Churn') que nos informa de si el cliente se ha marchado o no de la empresa. **Nuestro objetivo ser√° crear un modelo capaz de predecir si un futuro cliente tambi√©n se marchar√°.**

<center><img src=https://cdn-images-1.medium.com/max/800/1*MyKDLRda6yHGR_8kgVvckg.png width="400px"> </img></center>
 

    - Informaci√≥n de los datos  (7032 Clientes x 26 atributos)
     ------------
    0 : El cliente se queda
    1 : El cliente se va

**¬øPodr√≠amos intentar crear un modelo clasificador bas√°ndonos en reglas de este tipo?**



---

**Tu tarea:** 

1.   Completa el c√≥digo con los diferentes hitos descritos en cada comentario.

In [ ]:
import pandas  as pd
import sklearn as sk
from sklearn.neural_network import MLPClassifier

#  üí° --- Carga el archivo easy_telco.csv con Pandas. 

#  üí° --- Visualiza el contenido de la tabla.

In [ ]:
#  üí° --- Mapea las variables binarias.
#  Hay unas cu√°ntas columnas con variables binarias (Female/Male y Yes/No), utiliza la
#  funci√≥n map() de Pandas para sustituir sus valores por 0 y 1.

#  üí° --- Visualiza el contenido de la tabla.

In [ ]:
#  üí° --- Convierte las variables no binarias a binarias.
#  Las columnas InternetService, Contract y PaymentMethod contienen m√°s
#  de una categor√≠a distinta y por tanto no podemos mapearlas directamente a 0 y 1.
#  La estrategia a seguir ser√° usar el m√©todo pd.get_dummies(...) que nos convertir√°
#  cada valor de dicha columna en columnas binarias. Aqu√≠ tienes el ejemplo de c√≥mo
#  transformar una de estas columnas, comprende el c√≥digo y realiza lo mismo con las 
#  restantes.

dumm  = pd.get_dummies(telco['InternetService'], prefix='internet_')
telco = pd.concat([telco, dumm], axis=1)
telco = telco.drop('InternetService', axis=1)

# ...

#  üí° --- Visualiza el contenido de la tabla.

In [ ]:
#  üí° --- Elimina la columna customerID pues no aporta informaci√≥n relevante.

In [ ]:
import sklearn as sk
from sklearn.model_selection import train_test_split

train_test_split?

In [ ]:
#  üí° --- Convierte tu tabla de datos a matrices Numpy.
#  Create una matriz de datos de entrada, que contenga todas las columnas menos 'Churn'
#  y una matriz de salida que s√≥lo contenga a 'Churn'.



#  üí° --- Utiliza Sklearn para crear un modelo, entrenarlo y evaluarlo. 
#  Deberemos de obtener una tasa de acierto superior al 70%.

red_neuronal = MLPClassifier(hidden_layer_sizes=(50,), activation='relu', max_iter=2000)  # -- Red neuronal ya creada.

#  (Opcional: Para considerar v√°lido la evaluaci√≥n del modelo, realmente tendr√≠amos
#  que valorar si nuestra modelo est√° generalizando lo aprendido. Para ello es una
#  buena pr√°ctica crearte una dataset de entrenamiento y otro de prueba. Si quieres
#  puedes probar a generarlos con la funci√≥n train_test_split y volver a entrenar
#  y a evaluar a tu modelo.)

from sklearn.model_selection import train_test_split

# ...

red_neuronal = MLPClassifier(hidden_layer_sizes=(50,), activation='relu', max_iter=2000)  # -- Red neuronal ya creada.

# ...